.header {
  position: sticky;
  inset-block-start: 0;
  z-index: var(--header-z-index);
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  pointer-events: none;

  .navbar {
    inline-size: 100%;
    padding-block: 0.475rem;
    padding-inline: 1.5rem;
    margin-inline: auto;
    pointer-events: auto;
    border-inline: 1px solid rgb(var(--mui-palette-background-paperChannel) / 0.78);

    &.headerScrolled {
      background-color: var(--mui-palette-background-paper);
      border-color: var(--mui-palette-background-paper);

    }

    .navbarContent {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 1.5rem;
    }
  }
}

.inputBorder {
  fieldset {
    border-color: rgb(var(--mui-mainColorChannels-dark) / 0.22) !important;
  }
  label,
  input {
    color: rgb(var(--mui-mainColorChannels-dark) / 0.9) !important;
  }
}
